In [2]:
import numpy as np
import pandas as pd

In [4]:
series1 = pd.Series()
series1

Series([], dtype: float64)

In [6]:
array1 = np.array([2,3,5,6])
array1

array([2, 3, 5, 6])

In [8]:
series1 = pd.Series(array1)
series1

0    2
1    3
2    5
3    6
dtype: int32

In [9]:
series2 = pd.Series(array1,index=['A','B','C','D'])
series2

A    2
B    3
C    5
D    6
dtype: int32

In [10]:
state_capital = {
    "Karanatka" : "Bangalore",
    "Tamilnadu" : "Chennai",
    "Kerala" : "Thiruvanathapuram",
    "Telangana" : "Hyderabad",
    "Andhrapradesh" : "Amaravathi"
    
}
s = pd.Series(state_capital)

In [11]:
s

Karanatka                Bangalore
Tamilnadu                  Chennai
Kerala           Thiruvanathapuram
Telangana                Hyderabad
Andhrapradesh           Amaravathi
dtype: object

In [3]:
teams = pd.read_json('teams.json')
teams

,team,home,city,coach
0,Mumbai Indians,"Wankhede Stadium, Mumbai","Mumbai, Maharashtra",Mahela Jaywardene
1,Chennai Super Kings,"M.A. Chidambaram Stadium, Chennai","Chennai, Tamil Nadu",Stephen Fleming
2,Delhi Capitals,Feroz Shah Kotla Ground,"Delhi, NCR",Ricky Ponting
3,Kings XI Punjab,IS Bindra Stadium,"Mohali, Punjab",Anil Kumble
4,Kolkata Knight Riders,Eden Gardens,"Kolkata, West Bengal",Brendon McCullum
5,Rajasthan Royals,Sawai Mansingh Stadium,"Jaipur, Rajasthan",Andrew McDonald
6,Royal Challengers Bangalore,M. Chinnaswamy Stadium,"Bengaluru, Karnataka",Simon Katich
7,Sunrisers Hyderabad,Rajiv Gandhi International Cricket Stadium,"Hyderabad, Telengana",Trevor Bayliss

In [4]:
filelist = ['csk.json','dc.json','kkr.json','kxip.json','mi.json','rcb.json','rr.json','srh.json']
allteams = pd.DataFrame()
for file in filelist:
    data = pd.read_json(file)
    allteams = allteams.append(data)
allteams

                    Player     Role       Price
0        Ambati Rayadu (R)  Batsman  2.20 crore
1           Monu Singh (R)  Batsman    20 lakhs
2         Murali Vijay (R)  Batsman     2 crore
3      Ruturaj Gaikwad (R)  Batsman    20 lakhs
4         Suresh Raine (R)  Batsman    11 crore
..                     ...      ...         ...
20      Sandeep Sharma (R)   Bowler     3 crore
21      Shahbaz Nadeem (R)   Bowler  3.20 crore
22       Siddarth Kaul (R)   Bowler  3.80 crore
23  Syed Khaleel Ahmed (R)   Bowler     3 crore
24         T Natarajan (R)   Bowler    40 lakhs

[188 rows x 3 columns]

In [10]:
indexed_price = allteams['Price']

In [12]:
convert=[]
for i in indexed_price:
    convert.append([j for j in i.split()])
convert

[['2.20', 'crore'], ['20', 'lakhs'], ['2', 'crore'], ['20', 'lakhs'], ['11', 'crore'], ['15', 'crore'], ['20', 'lakhs'], ['40', 'lakhs'], ['6.40', 'crore'], ['1.60', 'crore'], ['5', 'crore'], ['7.80', 'crore'], ['7', 'crore'], ['4', 'crore'], ['5.50', 'crore'], ['80', 'lakhs'], ['2', 'crore'], ['1', 'crore'], ['50', 'lakhs'], ['50', 'lakhs'], ['2.60', 'crore'], ['6.75', 'crore'], ['2', 'crore'], ['20', 'lakhs'], ['7', 'crore'], ['5.25', 'crore'], ['70', 'lakhs'], ['50', 'lakhs'], ['1.20', 'crore'], ['5.20', 'crore'], ['7.75', 'crore'], ['1.50', 'crore'], ['15', 'crore'], ['2.40', 'crore'], ['4.80', 'crore'], ['20', 'lakhs'], ['1.50', 'crore'], ['7.60', 'crore'], ['20', 'lakhs'], ['5', 'crore'], ['20', 'lakhs'], ['1.10', 'crore'], ['4.20', 'crore'], ['50', 'lakhs'], ['20', 'lakhs'], ['4', 'crore'], ['8.50', 'crore'], ['75', 'lakhs'], ['3.20', 'crore'], ['1.60', 'crore'], ['3.40', 'crore'], ['20', 'lakhs'], ['80', 'lakhs'], ['1.80', 'crore'], ['20', 'lakhs'], ['5.25', 'crore'], ['1', 'crore'], ['60', 'lakhs'], ['7.40', 'crore'], ['20', 'lakhs'], ['12.50', 'crore'], ['15.5', 'crore'], ['3', 'crore'], ['4', 'crore'], ['20', 'lakhs'], ['5.80', 'crore'], ['20', 'lakhs'], ['20', 'lakhs'], ['20', 'lakhs'], ['5.60', 'crore'], ['20', 'lakhs'], ['2', 'crore'], ['30', 'lakhs'], ['6.20', 'crore'], ['75', 'lakhs'], ['20', 'lakhs'], ['1', 'crore'], ['4.20', 'crore'], ['25', 'lakhs'], ['55', 'lakhs'], ['11', 'crore'], ['1.40', 'crore'], ['10.75', 'crore'], ['3', 'crore'], ['50', 'lakhs'], ['50', 'lakhs'], ['20', 'lakhs'], ['20', 'lakhs'], ['20', 'lakhs'], ['4.80', 'crore'], ['2', 'crore'], ['8.50', 'crore'], ['20', 'lakhs'], ['15', 'crore'], ['80', 'lakhs'], ['20', 'lakhs'], ['2', 'crore'], ['3.20', 'crore'], ['2', 'crore'], ['50', 'lakhs'], ['20', 'lakhs'], ['6.20', 'crore'], ['2.80', 'crore'], ['11', 'crore'], ['5.40', 'crore'], ['8.80', 'crore'], ['1.90', 'crore'], ['20', 'lakhs'], ['20', 'lakhs'], ['75', 'lakhs'], ['7', 'crore'], ['50', 'lakhs'], ['2', 'crore'], ['1', 'crore'], ['3.20', 'crore'], ['8', 'crore'], ['20', 'lakhs'], ['17', 'crore'], ['11', 'crore'], ['20', 'lakhs'], ['50', 'lakhs'], ['4.40', 'crore'], ['20', 'lakhs'], ['20', 'lakhs'], ['1.70', 'crore'], ['1', 'crore'], ['5', 'crore'], ['1.70', 'crore'], ['50', 'lakhs'], ['20', 'lakhs'], ['10', 'crore'], ['4', 'crore'], ['2', 'crore'], ['2.60', 'crore'], ['3', 'crore'], ['4.20', 'crore'], ['3.20', 'crore'], ['6', 'crore'], ['20', 'lakhs'], ['30', 'lakhs'], ['12.50', 'crore'], ['3', 'crore'], ['75', 'lakhs'], [], ['4.40', 'crore'], ['8', 'crore'], ['80', 'lakhs'], ['12.50', 'crore'], ['20', 'lakhs'], ['20', 'lakhs'], ['2.40', 'crore'], ['1', 'crore'], ['3', 'crore'], ['7.20', 'crore'], ['2', 'crore'], ['3', 'crore'], ['2.40', 'crore'], ['3', 'crore'], ['1.30', 'crore'], ['1', 'crore'], ['50', 'lakhs'], ['20', 'lakhs'], ['20', 'lakhs'], ['3', 'crore'], ['55', 'lakhs'], ['12.50', 'crore'], ['11', 'crore'], ['1.90', 'crore'], ['1.90', 'crore'], ['2.20', 'crore'], ['1', 'crore'], ['1.20', 'crore'], ['3.20', 'crore'], ['2', 'crore'], ['1', 'crore'], ['50', 'lakhs'], ['20', 'lakhs'], ['20', 'lakhs'], ['20', 'lakhs'], ['95', 'lakhs'], ['8.50', 'crore'], ['50', 'lakhs'], ['9', 'crore'], ['3', 'crore'], ['3.20', 'crore'], ['3.80', 'crore'], ['3', 'crore'], ['40', 'lakhs']]